* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.hidden {
  display: none;
}

.arrowDown {
  transform: rotate(180deg);
}

.collapsable--close{
  .collapsable--icon-right{
    transform: rotate(180deg);
  }
  .collapsable-content{
    display: none;
  }
}