// COLORS
$colorBlack: black;
$colorWhite: white;
$gunmetal: #54585a;

$colorSecondaryDark: #e17334;
$colorSecondaryLight: #f9f4dc;

$colorPrimaryDark: #114e4e;
$colorPrimaryMedium: #438792;
$colorPrimaryLight: #a2deaf;

// FONTS
$fontPrimary: 'Merriweather', serif;
$fontSecondary: 'Montserrat', sans-serif;
$fontTertiary: 'Open Sans', sans-serif;