.containerFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: $colorGreyMedium solid 1px;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    &__text{
        margin-top: 5px;
        margin-bottom: 5px;
        font-family: $fontTertiary;
        font-size: 14px;
        text-align: center;
        color: $colorGreyDark;
    }
    &__logo{
        margin-top: 15px;
        margin-bottom: 20px;
        width: 100px;
    }
}


@media screen and (min-width: 768px){
    .containerFooter {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 40px;
        &__logo {
            margin: 10px 0;
        }
    }
}