.ico{
    color: $colorSecondaryDark;
}
.design{
    font-family: $fontTertiary;
    color: $colorGreyDark;
    width: 90%;
    margin: 27px auto 0 auto;
    border-bottom: 1px solid #d8d8d8;
    &__container{
        display: flex;
        justify-content: space-between;
    }
    &__titleContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 22px;
        cursor: pointer;
        &__h3{
            display: flex;
            align-items: center;
            h3{
                font-size: 18px;
                font-weight: 600;
                padding-left: 10px;
            }
        }
    }
    &__fieldset{
        border: 0;
        margin-bottom: 30px;

        &__radioButtonsContainer{
            display: flex;
            flex-direction: column; 
        }
        &__title{
            font-size: 14px;
        }

    }

}

.squareColor{
    width: 30px;
    height: 25px;
}
.radioButtonOne{
    display: flex;
    margin-bottom: 20px;
    &__colorContainer{
        display: flex;
        margin-left: 10px;
        &__one{
            background-color: $colorPrimaryDark;
    
        }
        &__two{
            background-color: $colorPrimaryMedium;
    
        }
        &__three{
            background-color: $colorPrimaryLight;
        }
    }
    
}
.radioButtonTwo{
    display: flex;
    margin-bottom: 20px;
    &__colorContainer{
        display: flex;
        margin-left: 10px;
        &__one{
            background-color: #420101;
    
        }
        &__two{
            background-color: #bd1010;
    
        }
        &__three{
            background-color: #e95626;
        }
    }
    
}

.radioButtonThree{
    display: flex;
    &__colorContainer{
        display: flex;
        margin-left: 10px;
        &__one{
            background-color: #3e5b65;
    
        }
        &__two{
            background-color: #eab052;
    
        }
        &__three{
            background-color: #a0c0cf;
        }
    }
    
}