.containerHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $colorGreyLight;
    &__logo{
        margin-top: 15vh;
        width: 250px;
    }
}

@media screen and (min-width: 768px) {
    .containerHeader__logo{
      width: 419px;
      margin-top: 10%;  
    }
    
}