
body{
    background-color: $colorGreyLight;

}
.containerMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $colorGreyLight;
    &__title{
        width: 100%;
        height: 20px;
        font-family: $fontPrimary;
        font-size: 24px;
        margin-top: 35px;
        margin-bottom:18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: center;
        color: $colorSecondaryDark;
    }
    &__text{
        font-family: $fontTertiary;
        font-size: 16px;
        margin-top: 0;
        color: $colorPrimaryDark;
        text-align: center;
    }
    &__options{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        padding: 10px;
        height: 75px;
        width: 80%;
        margin-top:20px;
        margin-bottom:40px;
        border: 1px solid $colorSecondaryDark ;
        border-radius: 4px;
    }
    &__options--group{
        flex-direction: column;
        padding: 10px;
    }
    &__options--group--icon{
        color: $colorSecondaryDark;
        font-size: 22px;
    }
    &__options--group--text{
        color: $colorGreyDark;
        font-family: $fontTertiary;
        font-size: 12px;
    } 
    &__button{
        background-color:$colorPrimaryMedium;
        font-family:$fontTertiary;
        color: white;
        border-radius: 25px;
        text-align: center;
        padding: 10px 20px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}
