<div class="design">
    <div class="design__titleContainer js-fill">
        <div class="design__titleContainer__h3">
            <i class="fa-regular fa-keyboard ico"></i>
            <h3>RELLENA</h3>
        </div>
        <i class="fa-solid fa-chevron-up"></i>
    </div>
    <div class="design__fields js-fill-container">
        <fieldset class="js-form">
            <label class="labelsText" for="completeName">Nombre completo</label>
            <input class="inputFields js-name" id="completeName" type="text" name="completeName"
                placeholder="Ej. Sally Jill" />

            <label class="labelsText" for="job">Puesto</label>
            <input class="inputFields js-job" id="job" type="text" name="job" placeholder="Ej. Front-end unicorn" />

            <label class="labelsText" for="avatar">Imagen de perfil</label>
            <input class="inputButton" type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" />

            <label class="labelsText" for="email">Email</label>
            <input class="inputFields js-mail" id="email" type="email" name="email"
                placeholder="Ej. sally-hill@gmail.com" />

            <label class="labelsText" for="telephone">Teléfono</label>
            <input class="inputFields js-phone" id="telephone" type="tel" name="telephone"
                placeholder="Ej. 555-55-55-55" />

            <label class="labelsText" for="linkedin">Linkedin</label>
            <input class="inputFields js-linkedin" id="linkedin" type="url" name="linkedin"
                placeholder="Ej. linkedin.com/in/sallly.hill" />

            <label class="labelsText" for="github">Github</label>
            <input class="inputFields js-github" id="github" type="url" name="github" placeholder="Ej. @sally-hill" />
        </fieldset>

    </div>


</div>