<section class="share">
  <div class="share__container js-share js-header-collapsable">
    <div class="share__container--icon">
      <i class="fa-solid fa-share-nodes"></i>
      <p>COMPARTE</p>
    </div>
    <i
      id="arrow"
      class="fa-solid fa-chevron-up js-arrow3 collapsable--icon-right"
    ></i>
  </div>
  <div class="js-share-container collapsable-content">
    <div class="share__container--button">
      <button class="share__button js-create-button">
        <i class="fa-regular fa-address-card"></i>CREAR TARJETA
      </button>
    </div>
    <load src="./form_twitter.html" />
  </div>
</section>
