<section class="share">

    <div class="share__container js-share">
        <div class="share__container--icon">
            <i class="fa-solid fa-share-nodes"></i>
            <p>COMPARTE</p>
        </div>
            <i id="arrow" class="fa-solid fa-angle-up"></i>
    </div>
    <div class="js-share-container">
        <div class="share__container--button ">
            <button class="share__button"><i class="fa-regular fa-address-card"></i>CREAR TARJETA</button>
        </div>
        <load src="./form_twitter.html"/>

    </div>

</section>