<section class="fill design js-form-box collapsable--close">
  <div class="design__titleContainer js-fill js-collapsable-header">
    <div class="design__titleContainer__h3">
      <i class="fa-regular fa-keyboard ico"></i>
      <h3>RELLENA</h3>
    </div>
    <i class="fa-solid fa-chevron-up js-arrow2 collapsable--icon-right"></i>
  </div>
  <div class="design__fields js-fill-container collapsable-content">
    <fieldset class="js-form">
      <label class="labelsText" for="name">Nombre completo</label>
      <input class="inputFields js-name" id="name" type="text" name="name" placeholder="Ej. Sally Jill" />

      <label class="labelsText" for="job">Puesto</label>
      <input class="inputFields js-job" id="job" type="text" name="job" placeholder="Ej. Front-end unicorn" />

      <label class="labelsText" for="photo">Imagen de perfil</label>
      <div class="addImage">
        <label for="photo" class="inputButton">Añadir imagen</label>
        <input class="hidden js__profile-upload-btn" type="file" id="photo" name="photo"
          accept="image/png, image/jpeg" />
        <div class="js__profile-preview thumbnail js-thumbnail"></div>
      </div>

      <label class="labelsText" for="email">Email</label>
      <input class="inputFields js-mail" id="email" type="email" name="email" placeholder="Ej. sally-hill@gmail.com" />

      <label class="labelsText" for="phone">Teléfono</label>
      <input class="inputFields js-phone" id="phone" type="tel" name="phone" placeholder="Ej. 555-55-55-55" />

      <label class="labelsText" for="linkedin">Linkedin</label>
      <input class="inputFields js-linkedin" id="linkedin" type="url" name="linkedin"
        placeholder="Ej. linkedin.com/in/sallly.hill" />

      <label class="labelsText" for="github">Github</label>
      <input class="inputFields js-github" id="github" type="url" name="github" placeholder="Ej. @sally-hill" />
    </fieldset>
  </div>
</section>