<section class="design js-form-box">
  <div class="design__titleContainer js-design js-collapsable-header">
    <div class="design__titleContainer__h3">
      <i class="fa-regular fa-object-ungroup ico"></i>
      <h3>DISEÑA</h3>
    </div>
    <i class="fa-solid fa-chevron-up js-arrow collapsable--icon-right"></i>
  </div>
  <fieldset class="design__fieldset js-design-container collapsable-content">
    <div class="design__container">
      <div class="design__fieldset__title">COLORES</div>
      <div class="design__fieldset__radioButtonsContainer js-checkForm">
        <div class="radioButtonOne js-palette1">
          <input class="js-checkOne" type="radio" id="paletteOne" name="colors" value="paletteOne" checked="checked" />
          <div class="radioButtonOne__colorContainer">
            <div class="squareColor radioButtonOne__colorContainer__one"></div>
            <div class="squareColor radioButtonOne__colorContainer__two"></div>
            <div class="squareColor radioButtonOne__colorContainer__three"></div>
          </div>
        </div>
        <div class="radioButtonTwo">
          <input class="js-checkTwo" type="radio" id="paletteTwo" name="colors" value="paletteTwo" />
          <div class="radioButtonTwo__colorContainer">
            <div class="squareColor radioButtonTwo__colorContainer__one"></div>
            <div class="squareColor radioButtonTwo__colorContainer__two"></div>
            <div class="squareColor radioButtonTwo__colorContainer__three"></div>
          </div>
        </div>
        <div class="radioButtonThree">
          <input class="js-checkThree" type="radio" id="paletteThree" name="colors" value="paletteThree" />
          <div class="radioButtonThree__colorContainer">
            <div class="squareColor radioButtonThree__colorContainer__one"></div>
            <div class="squareColor radioButtonThree__colorContainer__two"></div>
            <div class="squareColor radioButtonThree__colorContainer__three"></div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</section>