<form>
    <div class="design">
        <div class="design__titleContainer">
            <div class="design__titleContainer__h3">
                <i class="fa-regular fa-keyboard ico"></i>
                <h3>RELLENA</h3>
            </div>
            <i class="fa-solid fa-chevron-up"></i>
        </div>
        <div class="design__fields">
            <fieldset>
                <label class="labelsText" for="completeName">Nombre completo</label>
                <input class="inputFields" id="completeName" type="text" name="completeName" />
            </fieldset>
            <fieldset>
                <label class="labelsText" for="job">Puesto</label>
                <input class="inputFields" id="job" type="text" name="job" />
            </fieldset>
            <fieldset>
                <label class="labelsText" for="avatar">Imagen de perfil</label>
                <input class="inputButton" type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" />
            </fieldset>
            <fieldset>
                <label class="labelsText" for="email">Email</label>
                <input class="inputFields" id="email" type="email" name="email" />
            </fieldset>
            <fieldset>
                <label class="labelsText" for="telephone">Teléfono</label>
                <input class="inputFields" id="telephone" type="tel" name="telephone" />
            </fieldset>
            <fieldset>
                <label class="labelsText" for="linkedin">Linkedin</label>
                <input class="inputFields" id="linkedin" type="url" name="linkedin" />
            </fieldset>
            <fieldset>
                <label class="labelsText" for="github">Github</label>
                <input class="inputFields" id="github" type="url" name="github" />
            </fieldset>

        </div>


    </div>
</form>