<main class="containerMain">
    <h1 class="containerMain__title">Crea tu tarjeta de visita</h1>
    <p class="containerMain__text">Crea mejores contactos profesionales de<br> forma fácil y cómoda</p>
    <div class="containerMain__options">

        <div class="containerMain__options--group">
            <div class="containerMain__options--group--icon">
                <i class="fa-regular fa-object-ungroup"></i>
            </div>
            <div class="containerMain__options--group--text">
                <p>Diseña</p>
            </div>                   
        </div>

        <div class="containerMain__options--group">
            <div class="containerMain__options--group--icon">
                <i class="fa-regular fa-keyboard"></i>
            </div>
            <div class="containerMain__options--group--text">
                <p>Rellena</p>
            </div>                   
        </div>

        <div class="containerMain__options--group">
            <div class="containerMain__options--group--icon">
                <i class="fa-solid fa-share"></i>
            </div>
            <div class="containerMain__options--group--text">
                <p>Comparte</p>
            </div>                   
        </div>

    </div>
    <a href="" class="containerMain__button">COMENZAR</a>
</main>