<section class="section__card">
  <div class="section__card--joined">
    <button class="section__card--button js-reset"><i class="fa-regular fa-trash-can"></i> RESET</button>
    <div class="section__card--container js-card">
      <div class="card__text">
        <h2 class="card__text--name js-name-preview">Nombre Apellido</h2>
        <h3 class="card__text--job js-job-preview">Front-end developer</h3>
      </div>
      <div class="card__image js__profile-image js-image-preview"></div>
      <ul class="card__socials">
        <li class="card__socials--icon">
          <a href="" class="js-phone-preview"><i class="fa-solid fa-mobile-screen-button"></i></a>
        </li>
        <li class="card__socials--icon">
          <a href="" target="_blank" class="js-mail-preview"><i class="fa-regular fa-envelope"></i></a>
        </li>
        <li class="card__socials--icon">
          <a href="" target="_blank" class="js-linkedin-preview"><i class="fa-brands fa-linkedin-in"></i></a>
        </li>
        <li class="card__socials--icon">
          <a href="" target="_blank" class="js-github-preview"><i class="fa-brands fa-github-alt"></i></a>
        </li>
      </ul>
    </div>
  </div>
</section>
